@tailwind base;
@tailwind components;
@tailwind utilities;

#td-hover:hover {
  background-color: #ac92e4;
  cursor: pointer;
}

#td-hover-profes:hover {
  background-color: #ac92e4;
}

#enlace {
  color: rgb(0, 62, 196);
}

#enlace:hover {
  text-decoration: underline;
}

.nav {
  background-color: #7C68A6;
}